/* 修改输入框容器样式 */
.chat-input {
  display: flex;
  align-items: center;
  padding: 12px;
  width: 95%;
  border:1px solid #ddd;
  border-radius: 15px;
}
/* 文本输入框样式 */
.chat-input textarea {
  flex: 1;
  padding: 12px 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  resize: none;
  outline: none;
  transition: border-color 0.2s;
  line-height: 20px;
}

.chat-input textarea:focus {
  border-color: #007bff;
}

.chat-input svg{
  cursor: pointer;
}
